# Importing flat files from Web

In [1]:
# import package
from urllib.request import urlretrieve
import pandas as pd

In [4]:
# assign url
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/00421/aps_failure_test_set.csv'

In [5]:
# save file locally
urlretrieve(url,'dataset.csv')

('dataset.csv', <http.client.HTTPMessage at 0x1c7115b87c0>)

In [9]:
# read file into a dataframe
df = pd.read_csv('dataset.csv',skiprows=19)
df.head()

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,neg,60,0,20,12,0,0,0,0,0,...,1098,138,412,654,78,88,0,0,0,0
1,neg,82,0,68,40,0,0,0,0,0,...,1068,276,1620,116,86,462,0,0,0,0
2,neg,66002,2,212,112,0,0,0,0,0,...,495076,380368,440134,269556,1315022,153680,516,0,0,0
3,neg,59816,na,1010,936,0,0,0,0,0,...,540820,243270,483302,485332,431376,210074,281662,3232,0,0
4,neg,1814,na,156,140,0,0,0,0,0,...,7646,4144,18466,49782,3176,482,76,0,0,0

In [10]:
# open url directly
df = pd.read_csv(url,skiprows=19)
df.head()

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,neg,60,0,20,12,0,0,0,0,0,...,1098,138,412,654,78,88,0,0,0,0
1,neg,82,0,68,40,0,0,0,0,0,...,1068,276,1620,116,86,462,0,0,0,0
2,neg,66002,2,212,112,0,0,0,0,0,...,495076,380368,440134,269556,1315022,153680,516,0,0,0
3,neg,59816,na,1010,936,0,0,0,0,0,...,540820,243270,483302,485332,431376,210074,281662,3232,0,0
4,neg,1814,na,156,140,0,0,0,0,0,...,7646,4144,18466,49782,3176,482,76,0,0,0

In [12]:
# importing non-flat files from web
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/00424/2014%20and%202015%20CSM%20dataset.xlsx'
df = pd.read_excel(url)
df.keys()

Index(['Movie', 'Year', 'Ratings', 'Genre', 'Gross', 'Budget', 'Screens',
       'Sequel', 'Sentiment', 'Views', 'Likes', 'Dislikes', 'Comments',
       'Aggregate Followers'],
      dtype='object')

# HTTP request to import files from web

In [13]:
# import package
from urllib.request import urlopen, Request

In [20]:
# specify url
url = 'https://www.downloadha.com/tag/%D8%A8%D8%A7%D8%B2%DB%8C-aaa/'

In [26]:
# package the request
request = Request(url)

In [27]:
# send the request and catch the response
response = urlopen(request)

In [28]:
# print the data type
type(response)

http.client.HTTPResponse

In [30]:
# print the data type
html = response.read()
# print(html)

In [31]:
# close the response
response.close()

# HTTP request using requests

In [32]:
# import package
import requests

In [33]:
# specify url
url = 'https://www.downloadha.com/tag/%D8%A8%D8%A7%D8%B2%DB%8C-aaa/'

In [35]:
# package and send the request and catch the response
response = requests.get(url)

In [39]:
# extract the response as html
text = response.text
# print(text)

# Scraping the web in python

In [38]:
# import packages
import requests
from bs4 import BeautifulSoup

In [48]:
# specify url, package and send the request, catch the response and extract as html
url = 'https://www.downloadha.com/tag/%D8%A8%D8%A7%D8%B2%DB%8C-aaa/'
r = requests.get(url)
html = r.text

In [49]:
# creat a BeautifulSoup object
soup = BeautifulSoup(html)

In [50]:
# prettify the BeautifulSoup
soup_pretty = soup.prettify()
# print(soup_pretty)

In [51]:
# get the title of the page
title = soup.title
print(title)

<title>Ø¨Ø§ÛŒÚ¯Ø§Ù†ÛŒâ€Œ Ø¨Ø§Ø²ÛŒ AAA</title>

In [53]:
# get the text of page
text = soup.get_text()
# print(text)

In [56]:
# find all 'a' tags which means hyperlinks and print them
a_tags = soup.find_all('a')
# for link in a_tags:
#     print(link.get('href'))

# Loading JSON

In [75]:
# load JSON locally
import json
with open('reviews.json') as json_file:
    json_data = json.load(json_file)

In [76]:
# print each key value pairs
# for k,v in json_data.items():
#     if k == 'paper':
#         print(f'{k}: {v}')

# APIs

In [81]:
# get the response from url
import requests
url = 'http://www.omdbapi.com/?apikey=2b201c02&t=inception'
r = requests.get(url)

In [82]:
# decode the json data
json_data = r.json()
for k,v in json_data.items():
    print(f'{k}: {v}')

Title: Inception
Year: 2010
Rated: PG-13
Released: 16 Jul 2010
Runtime: 148 min
Genre: Action, Adventure, Sci-Fi
Director: Christopher Nolan
Writer: Christopher Nolan
Actors: Leonardo DiCaprio, Joseph Gordon-Levitt, Elliot Page
Plot: A thief who steals corporate secrets through the use of dream-sharing technology is given the inverse task of planting an idea into the mind of a C.E.O.
Language: English, Japanese, French
Country: United States, United Kingdom
Awards: Won 4 Oscars. 157 wins & 220 nominations total
Poster: https://m.media-amazon.com/images/M/MV5BMjAxMzY3NjcxNF5BMl5BanBnXkFtZTcwNTI5OTM0Mw@@._V1_SX300.jpg
Ratings: [{'Source': 'Internet Movie Database', 'Value': '8.8/10'}, {'Source': 'Metacritic', 'Value': '74/100'}]
Metascore: 74
imdbRating: 8.8
imdbVotes: 2,155,810
imdbID: tt1375666
Type: movie
DVD: 07 Dec 2010
BoxOffice: $292,576,195
Production: Syncopy, Warner Bros.
Website: N/A
Response: True